In [52]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd

In [53]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")

In [54]:
df_train["Satisfaction in work life"] = df_train["Job Satisfaction"].combine_first(df_train['Study Satisfaction'])
df_train["Pressure in work life"] = df_train["Work Pressure"].combine_first(df_train['Academic Pressure'])
df_test["Satisfaction in work life"] = df_test["Job Satisfaction"].combine_first(df_test['Study Satisfaction'])
df_test["Pressure in work life"] = df_test["Work Pressure"].combine_first(df_test['Academic Pressure'])
df_train.drop(columns = ["Working Professional or Student","Job Satisfaction","Study Satisfaction", "Work Pressure", "Academic Pressure", "id","Name"], inplace = True)
df_test.drop(columns = ["Working Professional or Student","Job Satisfaction","Study Satisfaction", "Work Pressure", "Academic Pressure"], inplace = True)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,NaN,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,NaN,8.97,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,NaN,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,NaN,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [55]:
df_column = df_train.columns
for column in df_column:
    if df_train[column].dtype in ["float64", "int64"]:
        mean = df_train[column].mean()
        df_train[column] = df_train[column].fillna(mean)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,NaN,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [56]:
df_train.ffill(inplace = True)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,Teacher,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [57]:
df_train.isnull().any()

Gender                                   False
Age                                      False
City                                     False
Profession                               False
CGPA                                     False
Sleep Duration                           False
Dietary Habits                           False
Degree                                   False
Have you ever had suicidal thoughts ?    False
Work/Study Hours                         False
Financial Stress                         False
Family History of Mental Illness         False
Depression                               False
Satisfaction in work life                False
Pressure in work life                    False
dtype: bool

In [58]:
df_column = df_test.columns
for column in df_column:
    if df_test[column].dtype in ["float64", "int64"]:
        mean = df_test[column].mean()
        df_test[column] = df_test[column].fillna(mean)
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,Female,49.0,Ludhiana,Chef,7.658636,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0,2.0,5.0
1,Male,26.0,Varanasi,Teacher,7.658636,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1,3.0,4.0
2,Male,33.0,Visakhapatnam,Teacher,8.970000,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1,2.0,5.0
3,Male,22.0,Mumbai,Teacher,7.658636,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1,1.0,5.0
4,Female,30.0,Kanpur,Business Analyst,7.658636,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0,1.0,1.0

In [59]:
df_test.ffill(inplace = True)
df_test.head()

,id,Name,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Satisfaction in work life,Pressure in work life
0,140700,Shivam,Male,53.0,Visakhapatnam,Judge,7.674016,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,5.0,2.0
1,140701,Sanya,Female,58.0,Kolkata,Educational Consultant,7.674016,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,4.0,2.0
2,140702,Yash,Male,53.0,Jaipur,Teacher,7.674016,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,1.0,4.0
3,140703,Nalini,Female,23.0,Rajkot,Teacher,6.840000,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,1.0,5.0
4,140704,Shaurya,Male,47.0,Kalyan,Teacher,7.674016,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0

In [60]:
string_columns = df_train.select_dtypes(include = ["object"]).columns
labels_encoders = {}
for column in string_columns:
    le = LabelEncoder()
    df_train[column] = le.fit_transform(df_train[column])
    labels_encoders[column] = le
df_train.head()

,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Satisfaction in work life,Pressure in work life
0,0,49.0,50,10,7.658636,29,7,33,0,1.0,2.0,0,0,2.0,5.0
1,1,26.0,93,55,7.658636,27,20,63,1,7.0,3.0,0,1,3.0,4.0
2,1,33.0,97,55,8.970000,15,7,21,1,3.0,1.0,0,1,2.0,5.0
3,1,22.0,64,55,7.658636,27,15,28,1,10.0,1.0,1,1,1.0,5.0
4,0,30.0,37,9,7.658636,15,20,28,1,9.0,4.0,1,0,1.0,1.0

In [61]:
df_test.head()

,id,Name,Gender,Age,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Satisfaction in work life,Pressure in work life
0,140700,Shivam,Male,53.0,Visakhapatnam,Judge,7.674016,Less than 5 hours,Moderate,LLB,No,9.0,3.0,Yes,5.0,2.0
1,140701,Sanya,Female,58.0,Kolkata,Educational Consultant,7.674016,Less than 5 hours,Moderate,B.Ed,No,6.0,4.0,No,4.0,2.0
2,140702,Yash,Male,53.0,Jaipur,Teacher,7.674016,7-8 hours,Moderate,B.Arch,Yes,12.0,4.0,No,1.0,4.0
3,140703,Nalini,Female,23.0,Rajkot,Teacher,6.840000,More than 8 hours,Moderate,BSc,Yes,10.0,4.0,No,1.0,5.0
4,140704,Shaurya,Male,47.0,Kalyan,Teacher,7.674016,7-8 hours,Moderate,BCA,Yes,3.0,4.0,No,5.0,5.0

# PyTorch MODEL

In [62]:
# split feature and target
# dataset class
# train and val split
# normalize
# data loader
# model

In [63]:
import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [64]:
class MentalHealthDataset(Dataset):
    def __init__(self,features,labels):
        self.features=torch.FloatTensor(np.array(features))
        self.labels=torch.LongTensor(np.array(labels))
        
    def __len__(self):
        return len(self.labels)
    
    def __getitem__(self, index):
        return self.features[index],self.labels[index]

In [65]:
class DepressionClassifier(nn.Module):
    def __init__(self, input_size):
        super(DepressionClassifier, self).__init__()
        self.layers=nn.Sequential(
            nn.Linear(input_size, 256),
            nn.BatchNorm1d(256),
            nn.ReLU(),
            nn.Dropout(0.2),
            nn.Linear(256, 64),
            nn.BatchNorm1d(64),
            nn.ReLU(),
            nn.Dropout(0.2),
            nn.Linear(64, 32),
            nn.BatchNorm1d(32),
            nn.ReLU(),
            nn.Dropout(0.2),
            nn.Linear(32, 2)
        )
    def forward(self,x):
        return self.layers(x)

In [66]:
def prepare_data(df,target_column="Depression",test_size=0.4,batch_size=32):
    features=df.drop(columns=target_column)
    labels=df[target_column]
    
    X_train,X_val,y_train,y_val=train_test_split(features,labels,test_size=test_size,random_state=42)
    
    sc=StandardScaler()
    X_train_scaled=sc.fit_transform(X_train)
    X_val_scaled=sc.transform(X_val)
    
    train_dataset=MentalHealthDataset(X_train_scaled,y_train)
    val_dataset=MentalHealthDataset(X_val_scaled,y_val)
    
    train_loader=DataLoader(train_dataset,batch_size=batch_size,shuffle=True)
    val_loader=DataLoader(val_dataset,batch_size=batch_size)
    
    return train_loader,val_loader,sc

In [67]:
def train_model(model, train_loader, val_loader, criterion, optimizer, epochs=20, device='cuda'):
    device = torch.device(device if torch.cuda.is_available() else 'cpu')
    model = model.to(device)
    
    for epoch in range(epochs):
        # Training phase
        model.train()
        train_loss = 0
        train_correct = 0
        train_total = 0
        
        for features, labels in train_loader:
            features, labels = features.to(device), labels.to(device)
            
            # Forward pass
            outputs = model(features)
            loss = criterion(outputs, labels)
            
            # Backward pass and optimization
            optimizer.zero_grad()
            loss.backward()
            optimizer.step()
            
            # Calculate accuracy
            _, predicted = torch.max(outputs.data, 1)
            train_total += labels.size(0)
            train_correct += (predicted == labels).sum().item()
            train_loss += loss.item()
        
        # Validation phase
        model.eval()
        val_loss = 0
        val_correct = 0
        val_total = 0
        
        with torch.no_grad():
            for features, labels in val_loader:
                features, labels = features.to(device), labels.to(device)
                outputs = model(features)
                loss = criterion(outputs, labels)
                
                _, predicted = torch.max(outputs.data, 1)
                val_total += labels.size(0)
                val_correct += (predicted == labels).sum().item()
                val_loss += loss.item()
        
        # Print epoch statistics
        print(f'Epoch [{epoch+1}/{epochs}]')
        print(f'Train Loss: {train_loss/len(train_loader):.4f}, Train Acc: {100*train_correct/train_total:.2f}%')
        print(f'Val Loss: {val_loss/len(val_loader):.4f}, Val Acc: {100*val_correct/val_total:.2f}%\n')

In [68]:
df=df_train
train_loader,val_loader,sc=prepare_data(df)
input_size=len(df.columns)-1
model=DepressionClassifier(input_size)
# Define loss function and optimizer
criterion = nn.CrossEntropyLoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.00001)

# Train the model
train_model(model, train_loader, val_loader, criterion, optimizer)

Epoch [1/20]
Train Loss: 0.5400, Train Acc: 75.51%
Val Loss: 0.3805, Val Acc: 91.04%

Epoch [2/20]
Train Loss: 0.3503, Train Acc: 88.83%
Val Loss: 0.2876, Val Acc: 91.67%

Epoch [3/20]
Train Loss: 0.2785, Train Acc: 90.48%
Val Loss: 0.2404, Val Acc: 91.71%

Epoch [4/20]
Train Loss: 0.2453, Train Acc: 90.97%
Val Loss: 0.2091, Val Acc: 92.54%

Epoch [5/20]
Train Loss: 0.2275, Train Acc: 91.15%
Val Loss: 0.1892, Val Acc: 92.83%

Epoch [6/20]
Train Loss: 0.2186, Train Acc: 91.27%
Val Loss: 0.1848, Val Acc: 92.90%

Epoch [7/20]
Train Loss: 0.2120, Train Acc: 91.40%
Val Loss: 0.1870, Val Acc: 92.30%

Epoch [8/20]
Train Loss: 0.2094, Train Acc: 91.56%
Val Loss: 0.1826, Val Acc: 92.62%

Epoch [9/20]
Train Loss: 0.2074, Train Acc: 91.47%
Val Loss: 0.1934, Val Acc: 91.58%

Epoch [10/20]
Train Loss: 0.2071, Train Acc: 91.58%
Val Loss: 0.1769, Val Acc: 92.72%

Epoch [11/20]
Train Loss: 0.2044, Train Acc: 91.61%
Val Loss: 0.1758, Val Acc: 92.68%

Epoch [12/20]
Train Loss: 0.2044, Train Acc: 91.58%
Val Loss: 0.1742, Val Acc: 93.00%

Epoch [13/20]
Train Loss: 0.2015, Train Acc: 91.73%
Val Loss: 0.1744, Val Acc: 93.09%

Epoch [14/20]
Train Loss: 0.2017, Train Acc: 91.77%
Val Loss: 0.1734, Val Acc: 92.88%

Epoch [15/20]
Train Loss: 0.2014, Train Acc: 91.79%
Val Loss: 0.1732, Val Acc: 93.13%

Epoch [16/20]
Train Loss: 0.2009, Train Acc: 91.71%
Val Loss: 0.1731, Val Acc: 92.75%

Epoch [17/20]
Train Loss: 0.2010, Train Acc: 91.72%
Val Loss: 0.1732, Val Acc: 92.85%

Epoch [18/20]
Train Loss: 0.1973, Train Acc: 91.90%
Val Loss: 0.1739, Val Acc: 92.66%

Epoch [19/20]
Train Loss: 0.1992, Train Acc: 91.90%
Val Loss: 0.1722, Val Acc: 92.86%

Epoch [20/20]
Train Loss: 0.1965, Train Acc: 91.96%
Val Loss: 0.1801, Val Acc: 92.18%