In [47]:
import pandas as pd
train=pd.read_csv("../data/cleaned_train.csv")
test=pd.read_csv("../data/cleaned_train.csv")

In [48]:
train.head()

,Unnamed: 0,Gender,Sleep Duration,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,age_binned,Working Professional or Student_Working Professional,Dietary Habits_Moderate,Dietary Habits_Unhealthy
0,0,1,2,0,0.083333,0.25,0,3,1.0,0.0,0.0
1,1,0,0,1,0.583333,0.50,1,1,1.0,0.0,1.0
2,3,0,0,1,0.833333,0.00,1,0,1.0,1.0,0.0
3,6,0,1,0,0.500000,0.25,0,3,1.0,1.0,0.0
4,7,0,1,0,0.833333,0.50,0,2,1.0,0.0,1.0

In [49]:
test.head()

,Unnamed: 0,Gender,Sleep Duration,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Depression,age_binned,Working Professional or Student_Working Professional,Dietary Habits_Moderate,Dietary Habits_Unhealthy
0,0,1,2,0,0.083333,0.25,0,3,1.0,0.0,0.0
1,1,0,0,1,0.583333,0.50,1,1,1.0,0.0,1.0
2,3,0,0,1,0.833333,0.00,1,0,1.0,1.0,0.0
3,6,0,1,0,0.500000,0.25,0,3,1.0,1.0,0.0
4,7,0,1,0,0.833333,0.50,0,2,1.0,0.0,1.0

In [50]:
for i in train.columns:
    print(i)

Unnamed: 0
Gender
Sleep Duration
Have you ever had suicidal thoughts ?
Work/Study Hours
Financial Stress
Depression
age_binned
Working Professional or Student_Working Professional
Dietary Habits_Moderate
Dietary Habits_Unhealthy

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108456 entries, 0 to 108455
Data columns (total 11 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   Unnamed: 0                                            108456 non-null  int64
 1   Gender                                                108456 non-null  int64
 2   Sleep Duration                                        108456 non-null  int64
 3   Have you ever had suicidal thoughts ?                 108456 non-null  int64
 4   Work/Study Hours                                      108456 non-null  float64
 5   Financial Stress                                      108454 non-null  float64
 6   Depression                                            108456 non-null  int64
 7   age_binned                                            108456 non-null  int64
 8   Working Professional or Student_Working Professional  108456 non-null  float64
 9   Dietary Habits_Moderate                               108456 non-null  float64
 10  Dietary Habits_Unhealthy                              108456 non-null  float64
dtypes: float64(5), int64(6)
memory usage: 9.1 MB

In [52]:
train.isna().sum()

Unnamed: 0                                              0
Gender                                                  0
Sleep Duration                                          0
Have you ever had suicidal thoughts ?                   0
Work/Study Hours                                        0
Financial Stress                                        2
Depression                                              0
age_binned                                              0
Working Professional or Student_Working Professional    0
Dietary Habits_Moderate                                 0
Dietary Habits_Unhealthy                                0
dtype: int64

In [53]:
train.dropna(inplace=True)

In [54]:
train.isna().sum()

Unnamed: 0                                              0
Gender                                                  0
Sleep Duration                                          0
Have you ever had suicidal thoughts ?                   0
Work/Study Hours                                        0
Financial Stress                                        0
Depression                                              0
age_binned                                              0
Working Professional or Student_Working Professional    0
Dietary Habits_Moderate                                 0
Dietary Habits_Unhealthy                                0
dtype: int64

In [55]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108454 entries, 0 to 108455
Data columns (total 11 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   Unnamed: 0                                            108454 non-null  int64
 1   Gender                                                108454 non-null  int64
 2   Sleep Duration                                        108454 non-null  int64
 3   Have you ever had suicidal thoughts ?                 108454 non-null  int64
 4   Work/Study Hours                                      108454 non-null  float64
 5   Financial Stress                                      108454 non-null  float64
 6   Depression                                            108454 non-null  int64
 7   age_binned                                            108454 non-null  int64
 8   Working Professional or Student_Working Professional  108454 non-null  float64
 9   Dietary Habits_Moderate                               108454 non-null  float64
 10  Dietary Habits_Unhealthy                              108454 non-null  float64
dtypes: float64(5), int64(6)
memory usage: 9.9 MB

In [56]:
test.isna().sum()

Unnamed: 0                                              0
Gender                                                  0
Sleep Duration                                          0
Have you ever had suicidal thoughts ?                   0
Work/Study Hours                                        0
Financial Stress                                        2
Depression                                              0
age_binned                                              0
Working Professional or Student_Working Professional    0
Dietary Habits_Moderate                                 0
Dietary Habits_Unhealthy                                0
dtype: int64

In [57]:
test.dropna(inplace=True)

In [58]:
test=test.astype('int64')

In [59]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 108454 entries, 0 to 108455
Data columns (total 11 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   Unnamed: 0                                            108454 non-null  int64
 1   Gender                                                108454 non-null  int64
 2   Sleep Duration                                        108454 non-null  int64
 3   Have you ever had suicidal thoughts ?                 108454 non-null  int64
 4   Work/Study Hours                                      108454 non-null  int64
 5   Financial Stress                                      108454 non-null  int64
 6   Depression                                            108454 non-null  int64
 7   age_binned                                            108454 non-null  int64
 8   Working Professional or Student_Working Professional  108454 non-null  int64
 9   Dietary Habits_Moderate                               108454 non-null  int64
 10  Dietary Habits_Unhealthy                              108454 non-null  int64
dtypes: int64(11)
memory usage: 9.9 MB

In [60]:
train.to_csv("../data/cleaned_test.csv")
test.to_csv("../data/cleaned_train.csv")